.movies {
  padding: 0 70px 29px;
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 0 30px 29px;
  }
}

@media screen and (max-width: 414px) {
  .movies {
    padding: 0 10px 29px;
  }
}
