.promo {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  border-radius: 10px;
  /* max-width: 1200px; */
  margin: 0 40px;
}

.promo__title {
  margin: 160px auto 151px;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.04em;
  max-width: 730px;
}

@media screen and (max-width: 768px) {
  .promo {
    margin: 0 20px;
  }
  .promo__title {
    margin: 350px auto 314px;
    font-size: 40px;
    max-width: 680px;
  }
}
