.technology-stack {
    display: flex;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background: #e8e8e8;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
  }
  
  .technology-stack:hover {
    opacity: 0.6;
  }