.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.side-menu_opened {
  transform: translateX(0%);
  background-color: rgba(0, 0, 0, 0.3);
}

.side-menu__content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-between;
  width: 520px;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  background-color: #202020;
  padding: 159px 0 90px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 769px) {
  .side-menu {
    display: none;
  }
}
