@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  color: #fff;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
